@charset "utf-8";

/* Basic Reset */

.hidden {
    display: none;
}

body {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    color: #202020;
}

.main-padding {
    padding-left: 1.5em;
}

/* Font Import */

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
}

p {
    font-family: "Merriweather", serif;
    font-size: 1em;
}

h3 {
    color: #022873;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 33px;
    width: 90%;
}

.main-description {
    font-size: 1em;
    line-height: 25px;
    max-width: 90%
}

a {
    font-family: "Merriweather", serif;
}

/* Bullet Reset */

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

/* Mobile Styles Start */

/* Navigation Menu Section */

header {
    background-color: #022873;
    border-bottom: 10px solid #BF0B1A;
    position: sticky;
    top: 0;
}

#main_logo {
    width: 10em;
    margin: 20px;
}

#hamburger {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

#burger {
    width: 3em;
    margin-left: auto;
    margin-right: 20px;
}

.nav-menu {
    display: none;
}

.nav-menu.active {
    display: block;
}

.nav-menu a {
    font-size: 21px;
    color: white;
}

.nav-menu li {
    padding-bottom: 1em;
    margin-left: -1.1em;
}

/* Hero Section */

.hero {
    background-image: url('../images/baa_home_header_412.png');
    background-size: cover;
    height: 27.5em;
    padding-left: 30px;
}

.hero p {
    font-family: "Oswald", sans-serif;
    font-weight: 450;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0;
    padding-top: 53px;
}

.hero h3 {
    text-transform: uppercase;
    font-size: 3em;
    line-height: 60px;
    margin: 0;
    padding: 20px 0 40px 0;
    color: #202020;
}

button { 
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;

    font-size: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 450;

    background-color: #BF0B1A;
    color: white;

    outline: none;
    box-shadow: none;
    cursor: pointer;
}

/* Introduction Section */

.intro {
    padding-top: 0.5em;
    padding-bottom: 2em;
}

.intro p {
    max-width: 90%;
    letter-spacing: -0.5;
    line-height: 28px;
}

.intro img:first-of-type, .intro img:last-of-type {
    display: none;
}

.intro img {
    margin-top: 1em;
    width: 22.5em;
    margin-bottom: 0.5em;
}

/* Features Section */

.features {
    background-color: #F3F3F3;
    padding-top: .3em;
    padding-bottom: 1.8em;
}

.features-side {
    display: flex;
    align-items: flex-start;
}

.features img {
    width: 3em;
    margin-right: 1em;
    padding-top: 0.5em;
}

.features h4 {
    font-size: 18px;
    margin: 0;
}

.features p {
    max-width: 90%;
    font-size: 14px;
    line-height: 21px;
}

/* Events Section */

.events {
    padding-top: .5em;
    padding-bottom: .65em;
}

.events-side {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
}

.events-side:first-of-type {
    margin-top: 2em;
}

.events img {
    width: 7em;
    margin-right: 1.25em;
    padding-top: 0.4em;
}

.events h4 {
    font-size: 18px;
    margin: 0;
}

.events-side p {
    font-size: 14px;
    line-height: 24px;
    max-width: 90%;
}

.events-bold {
    font-weight: 800;
}

/* Projects Section */

.projects {
    background-color: #F3F3F3;
    padding-top: .3em;
}

.projects img {
    width: 22em;
    margin-bottom: 1em;
}

.projects h4 {
    font-size: 18px;
    margin-bottom: 1.25em;
}

.projects img:last-of-type {
    display: none;
}

#projects-text p {
    font-size: 1em;
    line-height: 28px;
    max-width: 90%;
    margin-bottom: 1em;
}

.projects button {
    margin: 1em 0 2em 0;
}

/* Announcements Section */

.announce {
    padding-top: 0.8em;
    padding-bottom: 1.5em;
}

.announce img {
    width: 5em;
    margin-right: 1.25em;
    padding-top: 1.2em;
}

.announce-bold {
    font-weight: 800;
}

.announce-side {
    display: flex;
    align-items: flex-start;
    margin-bottom: .4em;
}

.announce-side p {
    font-size: 14px;
    line-height: 28px;
    max-width: 85%;
}

/* Footer Section */

footer {
    background-color: #022873;
    border-top: 10px solid #BF0B1A;
}

footer nav {
    padding: 2.25em 0 2em 0.5em;
}

footer nav li {
    padding-bottom: .5em;
}

footer li {
    margin-bottom: 1em;
}

footer nav a {
    color: white;
    font-size: 20px;
}

#footer_logo {
    width: 8em;
    margin-bottom: 1em;
    justify-self: center;
}

.social-media-icons {
    justify-self: center;
    display: flex;
    gap: .7em;
    margin-bottom: 3em;
}

.social-media-icons img {
    width: 1.8em;
}

footer p {
    font-family: "Oswald", sans-serif;
    color: #8194B9;
    margin: 0;
    padding-bottom: 0.8em;
    justify-self: center;
}