@charset "utf-8";

/* Basic Reset */

.hidden {
    display: none;
}

body {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    color: #202020;
}

.main-padding {
    padding-left: 1.5em;
}

/* Font Import */

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
}

p {
    font-family: "Merriweather", serif;
    font-size: 1em;
}

h2 {
    color: #022873;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 33px;
    width: 90%;
}

.main-description {
    font-size: 1em;
    line-height: 25px;
    max-width: 90%
}

a {
    font-family: "Merriweather", serif;
}

nav a:hover {
    opacity: 50%;
}

.social-media-icons img:hover {
    opacity: 50%;
}

button { 
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;

    font-size: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 450;

    background-color: #BF0B1A;
    color: white;

    outline: none;
    box-shadow: none;
    cursor: pointer;
}

button:hover { 
    background-color: #ab0917;
}

.bold {
    font-weight: 800;
}

/* Bullet Reset */

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

/* Mobile Styles Start */

/* Navigation Menu Section - Home */

header {
    background-color: #022873;
    border-bottom: 10px solid #BF0B1A;
    position: sticky;
    top: 0;
}

#main_logo {
    width: 10em;
    margin: 20px;
}

#hamburger {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

#burger {
    width: 3em;
    margin: 0 20px 0 auto;
}

.nav-menu {
    display: none;
}

.nav-menu.active {
    display: block;
}

.nav-menu a {
    font-size: 21px;
    color: white;
}

.nav-menu li {
    padding-bottom: 1em;
    margin-left: -1.1em;
}

/* Hero Section - Home */

.hero {
    margin: 0 0;
}

.hero-img img {
    width: 100%;
}

.hero-img {
    display: grid;
    grid-column: span 4;
    margin-bottom: 1rem;
}

.hero-img > * {
    grid-column: 1;
    grid-row: 1;
}

.hero-img p {
    font-family: "Oswald", sans-serif;
    font-weight: 450;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #202020;

    padding-top: 1em;
    margin-left: 1.05em;
}

.hero-img h2 {
    text-transform: uppercase;
    font-size: 3em;
    line-height: 60px;
    color: #202020;

    padding-top: 1.5em;
    margin-left: 0.5em;
}

.hero-img button {
    width: 6.5em;
    height: 2em;
    padding: 0em;
    margin: 17em 0 0 1.30em;
}
 
/* Introduction Section - Home */

.intro {
    padding-top: 0.5em;
    padding-bottom: 2em;
}

.intro p {
    max-width: 90%;
    letter-spacing: -0.5;
    line-height: 28px;
}

.intro img:first-of-type, .intro img:last-of-type {
    display: none;
}

.intro img {
    margin: 1em 0 0.5em 0;
    width: 22.5em;
}

/* Features Section - Home */

.features {
    background-color: #F3F3F3;
    padding-top: .3em;
    padding-bottom: 1.8em;
}

.features-side {
    display: flex;
    align-items: flex-start;
}

.features img {
    width: 3em;
    margin-right: 1em;
    padding-top: 0.5em;
}

.features h3 {
    font-size: 18px;
    margin: 0;
}

.features p {
    max-width: 90%;
    font-size: 14px;
    line-height: 21px;
}

/* Events Section - Home */

.events {
    padding-top: .5em;
    padding-bottom: .65em;
}

.events-side {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
}

.events-side:first-of-type {
    margin-top: 2em;
}

.events img {
    width: 7em;
    margin-right: 1.25em;
    padding-top: 0.4em;
}

.events h3 {
    font-size: 18px;
    margin: 0;
}

.events-side p {
    font-size: 14px;
    line-height: 24px;
    max-width: 90%;
}

/* Projects Section - Home */

.projects {
    background-color: #F3F3F3;
    padding-top: .3em;
}

.projects img {
    width: 22em;
    margin-bottom: 1em;
}

.projects h3 {
    font-size: 18px;
    margin-bottom: 1.25em;
}

.projects img:last-of-type {
    display: none;
}

#projects-text p {
    font-size: 1em;
    line-height: 28px;
    max-width: 90%;
    margin-bottom: 1em;
}

.projects button {
    margin: 1em 0 2em 0;
}

/* Announcements Section - Home */

.announce {
    padding-top: 0.8em;
    padding-bottom: 1.5em;
}

.announce img {
    width: 5em;
    margin-right: 1.25em;
    padding-top: 1.2em;
}

.announce-side {
    display: flex;
    align-items: flex-start;
    margin-bottom: .4em;
}

.announce-side p {
    font-size: 14px;
    line-height: 28px;
    max-width: 85%;
}

/* Footer Section - Home */

footer {
    background-color: #022873;
    border-top: 10px solid #BF0B1A;
}

footer nav {
    padding: 2.25em 0 2em 0.5em;
}

footer nav li {
    padding-bottom: .5em;
}

footer li {
    margin-bottom: 1em;
}

footer nav a {
    color: white;
    font-size: 20px;
}

#footer_logo {
    width: 8em;
    margin-bottom: 1em;
    justify-self: center;
}

.social-media-icons {
    justify-self: center;
    display: flex;
    gap: .7em;
    margin-bottom: 3em;
}

.social-media-icons img {
    width: 1.8em;
}

footer p {
    font-family: "Oswald", sans-serif;
    color: #8194B9;
    margin: 0;
    padding-bottom: 0.8em;
    justify-self: center;
}

footer .full {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}



/* Tablet Styles Start */

@media screen and (min-width: 48em) {

/* Tablet Basic Reset - Home */

    .main-padding {
        padding-left: 2.5em;
    }

/* Tablet Font Import - Home */

    h2 {
        font-size: 30px;
        width: 90%;
    }

    .main-description {
        font-size: 16px;
        line-height: 29px;
        max-width: 90%
    }

/* Tablet Navigation Menu Section - Home */

    header {
        border-bottom: 15px solid #BF0B1A;
    }

    #main_logo {
        width: 10em;
        margin: 20px;
        margin-left: 35px;
    }

    #hamburger {
        display: none; 
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        margin-right: 2.25em;
    }

    .nav-menu li {
        margin-left: -1.1em;
        padding-bottom: 0;
    }

    .nav-menu ul {
        display: flex;
        gap: 3.5em;
    }

    .sm-two-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
    .sm-two-items > div:first-child {
        grid-column: 1;
    }
    
    .sm-two-items > nav {
        grid-column: 2;
    }

/* Tablet Hero Section - Home */

    .hero-img p {
        font-size: 33px;
        margin: 1.5em 0 0 2.1em;
    }

    .hero-img h2 {
        font-size: 76px;
        line-height: 90px;

        margin: .8em 0 0 .9em;
    }

    .hero-img button {
        font-size: 28px;
        width: 6.5em;
        margin: 18em 0 0 2.5em;
    }

/* Tablet Introduction Section - Home */

    .intro {
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .intro p {
        font-size: 20px;
        max-width: 90%;
        line-height: 38px;
    }

    .intro img:first-of-type, .intro img:last-of-type {
        display: block;
    }

    .intro img {
        margin: 1em 0 0.5em 0;
        width: 13.8em;
    }

    #intro-img-wrapper {
        display: flex;
        gap: 1em;
    }

/* Tablet Features Section - Home */

    .features {
        padding-top: 1.2em;
        padding-bottom: 1.2em;
    }

    .features-side {
        margin-bottom: 1em;
    }

    .features img {
        width: 4em;
        margin-right: 1.5em;
    }

    .features h3 {
        font-size: 26px;
    }

    .features p {
        max-width: 95%;
        font-size: 1em;
        line-height: 28px;
    }

/* Tablet Events Section - Home */

    .events {
        padding-top: 1em;
        padding-bottom: .65em;
    }

    .events-side {
        margin-bottom: 2em;
    }

    .events-side:first-of-type {
        margin-top: 2.5em;
    }

    .events img {
        width: 11em;
        margin-right: 2em;
        padding-top: 0em;
    }

    .events h3 {
        font-size: 26px;
    }

    .events-side p {
        font-size: 17px;
        line-height: 29px;
        max-width: 90%;
    }

/* Tablet Projects Section - Home */

    .projects {
        padding-top: 1em;
    }

    .projects img {
        width: 20em;
    }

    .projects h3 {
        font-size: 29px;
        margin-bottom: 1em;
    }

    .projects img:last-of-type {
        display: block;
    }

    #projects-text p {
        font-size: 1em;
        line-height: 31px;
        max-width: 92%;
    }

    #projects-img-wrapper {
        display: flex;
        gap: 1em;
    }

/* Tablet Announcements Section - Home */

    .announce {
        padding-top: 0.8em;
        padding-bottom: 2em;
    }

    .announce img {
        width: 6.5em;
        margin-right: 1.8em;
    }

    .announce-side {
        margin-bottom: .4em;
    }

    .announce-side p {
        font-size: 1em;
        max-width: 90%;
    }

/* Tablet Footer Section - Home */

    footer {
        border-top: 15px solid #BF0B1A;
        padding-top: 2em;
    }

    footer nav {
        display: flex;
        padding: 2.25em 0 2em 0.5em;
    }

    footer nav a {
        font-size: 18px;
    }

    #footer_logo {
        width: 13em;
    }

    .social-media-icons img {
        width: 2.5em;
    }

    .item-one {
        order: 2;
    }

    .item-two {
        order: 1;
        margin-top: 1.5em;
    }
}



/* Monitor Styles Start */

@media screen and (min-width: 64em) {

/* Monitor Basic Reset - Home */

    .main-padding {
        padding-left: 3.25em;
    }

/* Monitor Font Import - Home */

    h3 {
        font-size: 35px;
        width: 90%;
    }

    .main-description {
        font-size: 21px;
        line-height: 41px;
        max-width: 90%
    }

/* Monitor Navigation Menu Section - Home */

    header {
        border-bottom: 18px solid #BF0B1A;
    }

    #main_logo {
        width: 14em;
        margin: 28px;
        margin-left: 65px;
    }

    .nav-menu ul {
        gap: 4em;
        margin: 0 2.25em 0 -1em;
        display: flex;
        justify-content: flex-end;
    }

    .nav-menu a {
        font-size: 30px;
    }

/* Monitor Hero Section - Home */

    .hero-img p {
        font-size: 41px;
        margin: 2em 0 0 1.9em;
    }

    .hero-img h2 {
        font-size: 80px;
        line-height: 100px;
        margin: 1.25em 0 0 .95em;
    }

    .hero-img button {
        font-size: 40px;
        width: 6.25em;
        height: 1.8em;
        margin: 12em 0 0 2em;
    }

/* Monitor Introduction Section - Home */

    .intro {
        padding-bottom: 3em;
    }

    .intro p {
        font-size: 22px;
        max-width: 95%;
    }

    .intro img {
        width: 18em;
    }

    #intro-img-wrapper {
        gap: 1.5em;
    }

/* Monitor Features Section - Home */

    .features {
        padding-top: 1.5em;
    }

    .features img {
        width: 4.5em;
    }

    .features h3 {
        font-size: 30px;
    }

    .features p {
        max-width: 93%;
        font-size: 21.5px;
        line-height: 35px;
    }

/* Monitor Events Section - Home */

    .events {
        padding-top: 1.25em;
        padding-bottom: 1.25em;
    }

    .events-side {
        margin-bottom: 2.5em;
    }

    .events img {
        width: 13em;
        margin-right: 2.5em;
    }

    .events h3 {
        font-size: 30px;
    }

    .events-side p {
        font-size: 20px;
        line-height: 41px;
    }

/* Monitor Projects Section - Home */

    .projects {
        padding-top: 2em;
    }

    .projects img {
        width: 27em;
    }

    .projects h3 {
        font-size: 32px;
        margin-bottom: 1em;
    }

    #projects-text p {
        font-size: 21.5px;
        line-height: 38px;
    }

    #projects-img-wrapper {
        gap: 2em;
    }

/* Monitor Announcements Section - Home */

    .announce {
        padding-top: 1em;
        padding-bottom: 2.5em;
    }

    .announce img {
        width: 8em;
    }

    .announce-side {
        margin-bottom: 1em;
    }

    .announce-side p {
        font-size: 19px;
        line-height: 35px;
        max-width: 90%;
        padding-top: 8px;
    }

/* Monitor Footer Section - Home */

    footer {
        border-top: 18px solid #BF0B1A;
        padding-top: 2em;
    }

    footer nav a {
        font-size: 23px;
    }
}



/* Desktop Styles Start */

@media screen and (min-width: 120em) {

/* Desktop Basic Reset - Home */

    .main-padding {
        padding-left: 25em;
    }

/* Desktop Font Import - Home */

    h3 {
        font-size: 41px;
        width: 90%;
    }

    .main-description {
        font-size: 25px;
        line-height: 41px;
        max-width: 70%
    }

/* Desktop Navigation Menu Section - Home */

    header {
        height: 13em;
    }

    #main_logo {
        width: 17em;
        margin: 28px;
        margin-left: 25em;
    }

    .nav-menu ul {
        margin: 0 23em 0 -1em;
    }

    .nav-menu a {
        font-size: 34px;
    }

/* Desktop Hero Section - Home */

    .hero-img img {
        height: 875px;
    }

    .hero-img p {
        font-size: 41px;
        margin: 3em 0 0 4.75em;
    }

    .hero-img h2 {
        font-size: 97px;
        line-height: 125px;
        margin: 1.3em 0 0 2em;
        max-width: 70%;
    }

    .hero-img button {
        font-size: 40px;
        width: 6.25em;
        height: 1.8em;
        margin: 14.5em 0 0 5em;
    }

/* Desktop Introduction Section - Home */

    .intro p {
        font-size: 25px;
        line-height: 46px;
        max-width: 70%;
    }

    .intro img {
        width: 20em;
    }

    #intro-img-wrapper {
        gap: 2em;
    }

/* Desktop Features Section - Home */

    .features img {
        width: 5em;
        margin-right: 2.25em;
    }

    .features h3 {
        font-size: 36px;
    }

    .features p {
        max-width: 68%;
        font-size: 25px;
        line-height: 41px;
    }

/* Desktop Events Section - Home */

    .events img {
        width: 15em;
    }

    .events h3 {
        font-size: 36px;
        padding-top: 20px;
    }

    .events-side p {
        font-size: 23px;
        line-height: 41px;
        max-width: 60%;
    }

/* Desktop Projects Section - Home */

    .projects img {
        width: 31em;
    }

    .projects h3 {
        font-size: 41px;
        margin-bottom: 1em;
    }

    #projects-text p {
        font-size: 25px;
        line-height: 46px;
        max-width: 68%;
    }

    .projects button {
        margin-bottom: 1.50em;
    }

/* Desktop Announcements Section - Home */

    .announce {
        padding-top: 1.5em;
        padding-bottom: 3em;
    }

    .announce img {
        width: 10em;
    }

    .announce-side p {
        font-size: 23px;
        line-height: 41px;
        max-width: 68%;
        padding-top: 15px;
    }

/* Desktop Footer Section - Home */

    footer {
        border-top: 18px solid #BF0B1A;
        padding-top: 2em;
    }

    footer nav {
        display: flex;
        padding: 2.25em 0 2em 0.8em;
    }

    footer nav a {
        font-size: 27px;
    }

    footer p {
        font-size: 1.8em;
    }
    
    .item-two {
        margin-left: 10em;
    }
}