// Colour Scheme

$primary-color: #003799;
$secondary-color: #ED391B;
$text-color: #191919;
$heading-color: #FCFCFC;

$light-bg-color: #F4F4F4;
$dark-bg-color: #EBEBEB;
$button-hover: #CE291D;
$nav-color: #00328A;

// Font Selection

$heading-font-family: 'Sofia Sans Condensed', impact, arial, sans-serif;
$subheading-font-family: 'Wix Madefor Display', 'Montserrat', sans-serif;
$body-font-family: 'Inter', 'Roboto', helvetica, arial, sans-serif;