// Announcements Section - Home

// Mobile Styling - Media Query

.announce {
    padding: 1em 0 2em 0;
}

.announce h2 {
    margin-bottom: 0.5em;
}

.announce img {
    width: 5em;
    margin-right: 1.25em;
    padding-top: 1.2em;
}

.announce .one-third p {
    font-size: 14px;
    line-height: 28px;
    max-width: 100%;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) {

    .announce {
        padding: 1em 0 2.5em 0;
    }

    .announce img {
        width: 6.5em;
        margin-right: 1.8em;
    }

    .announce .one-third p {
        font-size: 1em;
        margin-left: -3.5em;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .announce {
        padding: 1em 0 3em 0;
    }

    .announce img {
        width: 8em;
    }

    .announce .one-third p {
        font-size: 19px;
        line-height: 35px;
        margin: 1.80rem 0 1.25rem -7rem;
        padding-right: 0;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .announce {
        padding: 1.5em 0 4em 0;
    }

    .announce img {
        width: 10em;
    }

    .announce .one-third p {
        font-size: 23px;
        line-height: 41px;
        padding-top: 18px;
        margin: 0.8em 0 1.5em -4em;
    }
}