// Announcements Section - Home

// Mobile Styling - Media Query

.announce {
    padding: 1em 0 1.5em 0;
}

.announce h2 {
    margin-bottom: 0.5em;
}

.announce img {
    width: 5em;
    padding-top: 1.2em;
}

.announce-sides p {
    font-size: 14px;
    line-height: 28px;
    max-width: 100%;
}

.announce-sides {
    display: flex;
    gap: 1.5rem;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) {

    .announce {
        padding: 1em 0 2em 0;
    }

    .announce .main-description {
        margin-bottom: 1.5rem;
    }

    .announce img {
        width: 6.5em;
    }

    .announce-sides p {
        font-size: 1em;
    }

    .announce-sides {
        gap: 2rem;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .announce {
        padding: 1em 0 3em 0;
    }

    .announce img {
        width: 8em;
    }

    .announce-sides p {
        font-size: 22px;
        line-height: 40px;
        margin: 1.8rem 0 1.25rem 0;
        padding-right: 0;
    }

    .announce-sides {
        gap: 2.5rem;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .announce {
        padding: 1.5em 0 3em 0;
    }

    .announce .main-description {
        margin-bottom: 2rem;
    }

    .announce img {
        width: 10em;
    }

    .announce-sides p {
        font-size: 25px;
        line-height: 42px;
        padding-top: 18px;
        margin: 0.8em 0 1.5em 0;
    }

    .announce-sides {
        gap: 2.75rem;
    }
}