// Announcements Section - Home

// Mobile Styling - Media Query

.announce {
    padding: 1rem 0 0 0;
}

.announce img {
    width: 50%;
    padding: 1.2rem 0 2.25rem 0;
}

.announce-sides p {
    font-size: clamp(1rem, 0.9rem + 0.6vw, 1.5625rem);
    line-height: clamp(1.875rem, 1.36rem + 1.5vw, 2.8125rem);
    margin-top: 0;
}

.announce-sides {
    display: block;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) {

    .announce {
        padding: 0 0 1.5rem 0;
        margin: 0;
    }

    .announce img {
        width: clamp(6.5rem, 5.5rem + 3.25vw, 10rem);
        padding: 0;
    }

    .announce-sides {
        display: flex;
        align-items: center;
        gap: clamp(1.5rem, 1.05rem + 1.2vw, 2.75rem);
        padding-bottom: 1.5rem;
    }

    .announce-sides p {
        margin: 0;
        padding: 0;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .announce {
        padding: 0 0 1.5rem 0;
    }

    .announce-sides {
        padding-bottom: 2rem;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .announce {
        padding: 0 0 2rem 0;
    }
}