/* Members Page Styles Start */

/* Contributor Section - Members */

.contributors {
    padding: 0 0 2.5em 1em;
}

.contributors h2 {
    margin-bottom: 0.5em;
}

.contributors .main-description {
    line-height: 30px;
    padding-bottom: 0.75em;
}

.contributor-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    margin: 0;
}

.contributor-list li {
    padding: 5px 0;
    font-size: 1em;
    font-weight: 600;
    font-family: "Merriweather", serif;
}




@media screen and (min-width: 48em) { 

    /* Tablet Contributor Section - Members */
    
        .contributors {
            padding: 0 0 2.5em 2em;
        }
    
        .contributors .main-description {
            font-size: 20px;
            line-height: 35px;
        }
    
        .contributor-list ul {
            grid-template-columns: repeat(3, 1fr);
        }
    
        .contributor-list li {
            font-size: 18px;
        }
    }    






@media screen and (min-width: 64em) {

/* Monitor Contributor Section - Members */

    .contributors {
        padding: 0 0 2.5em 3em;
    }

    .contributors .main-description {
        font-size: 25px;
        line-height: 45px;
    }

    .contributor-list li {
        font-size: 25px;
        padding-bottom: 0.5em;
    }
}