// Contributors Section - Members

// Mobile Styling - Media Query

.contributors {
    padding-top: 0;
}

.contributors .main-description {
    padding-bottom: 0.30rem;
}

.contributor-img {
    width: 100%;
    padding-bottom: 2.15rem;
}

// Tablet Styling - Media Query

@media screen and (min-width: 768px) {

    .contributor-img {
        width: 90%;
    }
}    

// Small Desktop Styling - Media Query

@media screen and (min-width: 992px) {

    .contributor-img {
        width: 85%;
        padding-bottom: 2.5rem;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 1200px) {

    .contributor-img {
        width: 80%;
        padding-bottom: 2.5rem;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 1920px) {

    .contributor-img {
        width: 75%;
        padding-bottom: 2.65rem;
    }
}