@use '../abstracts/index' as *;

// Contact Section - Contact

// Mobile Styling - Media Query

.contact {
    padding: 0 0 2.75em 0;
}

.contact .main-description {
    line-height: 30px;
    max-width: 100%;
    margin-top: 0.5em;
    padding-bottom: 1em;
}

.contact-form textarea {
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.contact-form input, textarea {
    font-family: $heading-font-family;
    font-size: 1em;

    width: 22.5em;
    margin-bottom: 1em;
    padding: .5em;

    border-width: 2px;
    border-style: solid;
    border-color: $text-color;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    border: none;
    padding: 5px 0px 5px 0px;
    margin-top: 0;
    width: 18em;
    border-radius: 8px;

    font-size: 20px;
    font-family: $heading-font-family;
    text-transform: uppercase;
    font-weight: 450;

    background-color: $secondary-color;
    color: white;

    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: $button-hover;
}

.contact-check p {
    font-size: 17px;
    font-family: $heading-font-family;
    margin: 0 0 0 -4em;
    padding: 0;
    max-width: 100%;
}

.contact input[type="checkbox"] {
    width: 1em;
    height: 1em;
    margin: 0.35em 0 0 0;
    padding: 0;
}

.contact-info h3 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 0.5em;
}

.contact-info h4 {
    font-family: $body-font-family;
    font-size: 1em;
    margin-bottom: 0;
}

.contact-info p {
    margin-bottom: 2em;
}

.contact-info img {
    width: 22em;
    margin-top: 1em;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) { 
    
    .hero-contact h2 {
        max-width: 70%;
    }

    .contact {
        padding: 0 0 0 0;
    }

    .contact .main-description {
        font-size: 20px;
        line-height: 35px;
    }

    .contact-form textarea {
        margin-bottom: 0;
    }

    .contact-form input[type="submit"] {
        margin: 1.5rem 0 1rem 0;
    }

    .contact-check p {
        font-size: 1em;
        margin: 0 0 0 -4.5em;
        max-width: 105%;
    }

    .contact-info {
        padding-left: 2.5em;
        transform: translateY(-2rem);
    }

    .contact-info h3 {
        font-size: 22px;
        margin-top: -3em;
    }

    .contact-info h4 {
        font-size: 14px;
        margin-bottom: -0.5em;
    }

    .contact-info p {
        font-size: 14px;
        margin-bottom: 1.5em;
    }

    .contact-info img {
        width: 14.25em;
        margin-top: 0.5em;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .contact {
        padding: 0 0 1em 0;
    }

    .contact .main-description {
        font-size: 23px;
        line-height: 45px;
    }

    .contact-form input {
        font-size: 21px;
    }

    .contact-form textarea {
        font-size: 21px;
        margin-bottom: 0;
    }

    .contact-form input[type="submit"] {
        width: 15.75em;
        font-size: 30px;
        margin: 1.5rem 0 1rem 0;
    }

    .contact-check p {
        font-size: 21px;
        margin: 0.2em 0 0 -4.5em
    }

    .contact-info {
        padding-left: 2.5em;
        transform: translateY(-0.50rem);
    }

    .contact-info h3 {
        font-size: 36px;
        margin-top: -1.5em;
    }

    .contact-info h4 {
        font-size: 21px;
    }

    .contact-info p {
        font-size: 21px;
        margin-bottom: 1.5em;
    }

    .contact-info img {
        width: 15em;
        margin-top: 0.5em;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 120em) {

    .hero-contact h2 {
        max-width: 50%;
    }

    .contact {
        padding: 0 0 3rem 0;
    }

    .contact .main-description {
        font-size: 25px;
        line-height: 45px;
    }

    .contact-form input {
        font-size: 23px;
    }

    .contact-form textarea {
        font-size: 23px;
        margin-bottom: 0;
    }

    .contact-form input[type="submit"] {
        width: 17.35em;
        font-size: 30px;
        margin: 2rem 0 1rem 0;
    }

    .contact-check p {
        font-size: 23px;
        margin: 0.21em 0 0 -5em
    }

    .contact-info {
        padding-left: 2em;
        transform: translateY(-1.75rem);
    }

    .contact-info h3 {
        font-size: 36px;
        margin-top: 0;
    }

    .contact-info h4 {
        font-size: 23px;
    }

    .contact-info p {
        font-size: 23px;
    }

    .contact-info img {
        width: 18rem;
    }
}