// Contributors Section - Members

// Mobile Styling - Media Query

.contributors {
    padding: 0 0 2.5em 0;
}

.contributors h2 {
    margin-bottom: 0.5em;
}

.contributors .main-description {
    line-height: 30px;
    padding-bottom: 0.75em;
    max-width: 100%;
}

.contributors img {
    width: 100%;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) { 

    .contributors {
        padding: 0 0 3.5em 0;
    }

    .contributors .main-description {
        font-size: 20px;
        line-height: 35px;
    }
}    

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .contributors {
        padding: 0 0 3.5em 0;
    }

    .contributors .main-description {
        font-size: 25px;
        line-height: 45px;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .contributors {
        padding: 0 0 4em 0;
    }
}