// Events Section - Home

// Mobile Styling - Media Query

.events {
    padding: 0.4rem 0 0.4rem 0;
}

.events-sides {
    display: flex;
    align-items: flex-start;
    gap: clamp(1.5rem, 1.14rem + 1.5vw, 3rem);
    margin-bottom: 1rem;
}

.events img {
    width: clamp(5rem, 2rem + 15vw, 15rem);
    margin-top: 0.5rem;
}

.events-sides h3 {
    font-size: clamp(1.125rem, 0.9rem + 1.2vw, 2.1875rem);
    margin: 0;
    padding: 0;
}

.events-sides p {
    font-size: clamp(1rem, 0.9rem + 0.6vw, 1.5625rem);
    line-height: clamp(1.875rem, 1.36rem + 1.5vw, 2.8125rem);
}

// Tablet Styling - Media Query

@media screen and (min-width: 768px) {

    .events {
        padding: 0.4rem 0 1.5rem 0;
    }

    .events-sides {
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .events-sides img {
        padding-top: 0;
    }

    .events-sides p {
        padding-bottom: 0;
        margin-bottom: 0;
    }
}    

// Small Desktop Styling - Media Query

@media screen and (min-width: 992px) {

    .events {
        padding: 0.4rem 0 1.5rem 0;
    }

    .events .main-description {
        max-width: 60ch;
    }

    .events-sides {
        margin-bottom: 2rem;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 1200px) {

    .events {
        padding: 0.4rem 0 1.5rem 0;
    }

    .events .main-description {
        max-width: 60ch;
    }

    .events-sides {
        margin-bottom: 2rem;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 1920px) {

    .events {
        padding: 0.4rem 0 1.75rem 0;
    }

    .events-sides {
        margin-bottom: 2rem;
    }
}