// Events Section - Home

// Mobile Styling - Media Query

.events {
    padding: 0.5em 0 1em 0;
}

.events h2 {
    margin-bottom: 0.5em;
}

.events .main-description {
    margin-bottom: 2rem;
}

.events-sides {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    gap: 2rem;
}

.events img {
    width: 100%;
    margin-top: 0.5rem;
}

.events-sides h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.events-sides p {
    font-size: 14px;
    line-height: 24px;
    max-width: 100%;
}



// Tablet Styling - Media Query

@media screen and (min-width: 48em) {
    
    .events {
        padding: 1.5em 0 1.5em 0;
    }

    .events h2 {
        margin-bottom: 0.35em;
    }
    
    .events .main-description {
        margin-bottom: 2rem;
        font-size: 20px;
        line-height: 38px;
    }

    .events-sides {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .events-sides img {
        width: 11em;
        padding-top: 0;
    }

    .events-sides h3 {
        font-size: 26px;
    }

    .events-sides p {
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}    

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .events {
        padding: 2em 0 2em 0;
    }

    .events h2 {
        margin-bottom: 0.35em;
    }

    .events .main-description {
        margin-bottom: 2rem;
        font-size: 22px;
        line-height: 38px;
    }

    .events-sides {
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        margin-bottom: 0.75rem;
    }

    .events-sides img {
        width: 13em;
    }

    .events-sides h3 {
        font-size: 30px;
    }

    .events-sides p {
        font-size: 20px;
        line-height: 41px;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .events {
        padding: 2.5em 0 3em 0;
    }

    .events h2 {
        margin-bottom: 0.50em;
    }

    .events .main-description {
        margin-bottom: 2.5rem;
        font-size: 25px;
        line-height: 38px;
    }

    .events-sides {
        gap: 3rem;
        margin-bottom: 2rem;
    }

    .events-sides img {
        width: 15em;
    }

    .events-sides h3 {
        font-size: 36px;
    }

    .events-sides p {
        font-size: 25px;
        line-height: 45px;
    }
}