// Events Section - Home

// Mobile Styling - Media Query

.events {
    padding: 0.5em 0 1em 1em;
}

.events h2 {
    margin-bottom: 0.35em;
}

.events img {
    width: 7em;
    margin-right: 1.25em;
    padding-top: 0.4em;
}

.events-desc {
    padding: 1em 0 0.5em 0;
}

.events-desc h3 {
    font-size: 18px;
    margin: 0;
}

.events-desc p {
    font-size: 14px;
    line-height: 24px;
    max-width: 90%;
}

.events-side {
    margin-left: -0.30em;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) {
    
    .events {
        padding: 1.5em 0 2em 2em;
    }

    .events h2 {
        margin-bottom: 0.35em;
    }
    
    .events-desc {
        padding: 1em 0 0.5em 0;
    }

    .events-desc img {
        width: 11em;
        margin-right: 2em;
        padding-top: 0em;
    }

    .events-desc h3 {
        font-size: 26px;
    }

    .events-desc p {
        font-size: 17px;
        line-height: 29px;
        max-width: 90%;
    }

    .events-side {
        margin-left: -1em;
    }
}    

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .events {
        padding: 2em 0 2.5em 3em;
    }

    .events h2 {
        margin-bottom: 0.35em;
    }
    
    .events-desc {
        padding: 1em 0 0.8em 0;
    }

    .events-desc img {
        width: 13em;
        margin-right: 2.5em;
    }

    .events-desc h3 {
        font-size: 30px;
    }

    .events-desc p {
        font-size: 20px;
        line-height: 41px;
        max-width: 91%;
    }

    .events-side {
        margin: 0.7em 0 0 -1em;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .events {
        padding: 2.5em 0 3em 3em;
    }

    .events h2 {
        margin-bottom: 0.50em;
    }
    
    .events-desc {
        padding: 1.75em 0 1em 0;
    }

    .events-desc img {
        width: 15em;
    }

    .events-desc h3 {
        font-size: 36px;
        padding-top: 20px;
    }

    .events-desc p {
        font-size: 23px;
        line-height: 41px;
        max-width: 88%;
    }

    .events-side {
        margin: 0 0 0 -1em;
    }
}