// FAQ Section - Contact

// Mobile Styling - Media Query

.faq {
    padding: 0 0 0.5rem 0;
}

.faq h2 {
    margin-bottom: 0;
}

.faq h3, p {
    line-height: 26px;
}

.faq p {
    margin: 1.75rem 0 1.75rem 0;
}

// Tablet Styling - Media Query

@media screen and (min-width: 768px) {

    .faq {
        padding: 0.5rem 0 0.75rem 0;
    }

    .faq h2 {
        margin-bottom: 1rem;
    }

    .faq h3 {
        font-size: 23px;
    }

    .faq p {
        margin: 1rem 0 1.85rem 0;
    }
}

// Small Desktop Styling - Media Query

@media screen and (min-width: 992px) {

    .faq {
        padding: 0.5rem 0 0 0;
    }

    .faq h3 {
        font-size: 26px;
    }

    .faq p {
        font-size: 20px;
        line-height: 40px;
        margin: 1.5rem 0 2.5rem 0;
    }

    .faq .h2-side img {
        transform: translateY(-0.5rem);
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 1200px) {

    .faq {
        padding: 1rem 0 0.5rem 0;
    }

    .faq h3 {
        font-size: 30px;
    }

    .faq p {
        font-size: 22.5px;
        line-height: 45px;
    }
}

// Monitor Styling - Media Query
    
@media screen and (min-width: 1920px) {
    
    .faq {
        padding: 1rem 0 0.5rem 0;
    }

    .faq h2 {
        margin-bottom: 2rem;
    }

    .faq h3 {
        font-size: 32px;
    }

    .faq p {
        font-size: 25px;
        line-height: 45px;
        margin: 1.75rem 0 3rem 0;
    }

    .faq .h2-side img {
        transform: translateY(-0.75rem);
    }
}