/* FAQ Section - Contact  */

.faq {
    padding: 1em 0 0.75em 1em;
}

.faq h2 {
    margin-bottom: 1.25em;
}

.faq h3, p {
    max-width: 95%;
    line-height: 26px;
}

.faq p {
    margin-bottom: 2em;
}