/* FAQ Section - Contact  */

.faq {
    padding: 1em 0 0.75em 1em;
}

.faq h2 {
    margin-bottom: 1.25em;
}

.faq h3, p {
    max-width: 95%;
    line-height: 26px;
}

.faq p {
    margin-bottom: 2em;
}




@media screen and (min-width: 48em) { 

    /* Tablet FAQ Section - Contact  */

    .faq {
        padding: 1em 0 1em 2em;
    }

    .faq h3 {
        font-size: 23px;
    }

    .faq p {
        margin-bottom: 2em;
    }
}






@media screen and (min-width: 64em) {

    /* Monitor FAQ Section - Contact  */
    
        .faq {
            padding: 1.75em 0 1em 3em;
        }
    
        .faq h2 {
            margin-bottom: 1.5em;
        }
    
        .faq h3 {
            font-size: 30px;
        }
    
        .faq p {
            font-size: 22.5px;
            line-height: 45px;
        }
    }