/* Features Section - Home */

.features {
    background-color: #F3F3F3;
    padding: 0.5em 0 1em 1em;
}

.features .one-third {
    margin-bottom: 0.5em;
}

.features img {
    width: 3em;
    padding-top: 0.5em;
}

.features .features-desc {
    margin-left: -30px;
}

.features h3 {
    font-size: 18px;
    margin: 0;
}

.features p {
    max-width: 93%;
    font-size: 14px;
    line-height: 21px;
}