// Features Section - Home

// Mobile Styling - Media Query

.features {
    background-color: #F3F3F3;
    padding: 0.5em 0 1em 1em;
}

.features .one-third {
    margin-bottom: 0.5em;
}

.features img {
    width: 3em;
    padding-top: 0.5em;
}

.features .features-desc {
    margin-left: -30px;
}

.features h3 {
    font-size: 18px;
    margin: 0;
}

.features p {
    max-width: 93%;
    font-size: 14px;
    line-height: 21px;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) {
    
    .features {
        padding: 1.5em 0 1.5em 2em;
    }

    .features .one-third {
        margin-bottom: 0.8em;
    }
    
    .features .features-desc {
        margin-left: -6.5em;
    }

    .features img {
        width: 4em;
        margin-right: 1.5em;
    }

    .features h3 {
        font-size: 26px;
    }

    .features p {
        max-width: 95%;
        font-size: 1em;
        line-height: 28px;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .features {
        padding: 1.5em 0 1em 3em;
    }

    .features .one-third {
        margin: 0.5em 0 1em 0;
    }
    
    .features .features-desc {
        margin-left: -11.5em;
    }

    .features img {
        width: 4.5em
    }

    .features h3 {
        font-size: 30px;
    }

    .features p {
        max-width: 95%;
        font-size: 21.5px;
        line-height: 35px;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .features {
        padding: 2em 0 2em 5.5em;
    }

    .features .one-third {
        margin: 1em 0 1em 0;
    }
    
    .features .features-desc {
        margin-left: -11em;
    }

    .features img {
        width: 5.5em;
        margin-left: 0.5em;
    }

    .features h3 {
        font-size: 36px;
    }

    .features p {
        max-width: 90%;
        margin-top: 0.5em;

        font-size: 25px;
        line-height: 41px;
    }
}