// Features Section - Home

// Mobile Styling - Media Query

.features {
    padding: 0.5em 0 1em 0;
}

.features img {
    width: 3em;
}

.features h3 {
    font-size: 18px;
    margin: 0;
}

.features p {
    max-width: 100%;
    font-size: 14px;
    line-height: 21px;
}

.features-sides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.features-sides:first-of-type {
    margin-bottom: 0.5rem;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) {
    
    .features {
        padding: 1.5em 0 1.5em 0;
    }

    .features img {
        width: 4em;
    }

    .features h3 {
        font-size: 26px;
    }

    .features p {
        font-size: 1em;
        line-height: 28px;
    }

    .features-sides {
        gap: 2rem;
    }

    .features-sides:first-of-type {
        margin-bottom: 0.5rem;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .features {
        padding: 1.5em 0 1.75em 0;
    }

    .features img {
        width: 4.5em
    }

    .features h2 {
        margin-bottom: 2.5rem;
    }

    .features h3 {
        font-size: 30px;
    }

    .features p {
        font-size: 21.5px;
        line-height: 35px;
    }

    .features-sides {
        gap: 2.5rem;
    }

    .features-sides:first-of-type {
        margin-bottom: 0.5rem;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .features {
        padding: 2em 0 2em 0;
    }

    .features img {
        width: 5.5em;
    }

    .features h2 {
        margin-bottom: 3rem;
    }

    .features h3 {
        font-size: 36px;
    }

    .features p {
        font-size: 25px;
        line-height: 41px;
    }
}