@use '../abstracts/index' as *;

// Footer Section - Home

// Mobile Styling - Media Query

footer {
    background-color: $primary-color;
    border-top: 10px solid $secondary-color;
}

footer nav {
    padding: 2.25rem 0 2rem 0.5rem;
}

footer li {
    margin-bottom: 1.5rem;
}

footer nav a {
    font-size: 20px;
}

#footer_logo {
    width: 8rem;
    margin-bottom: 1rem;
    justify-self: center;
    transition: transform 0.1s ease-out;
}

#footer_logo:hover {
    transform:scale(0.95);
}

.social-media-icons {
    display: flex;
    gap: .7rem;
    margin-bottom: 3rem;
    transition: transform 0.2s ease-out;
}

.social-media-icons img:hover {
    transform:scale(0.95);
}

.social-media-icons img {
    width: 1.8rem;
}

footer p, .credits a {
    font-family: $heading-font-family;
    color: #8194B9;
    margin: 0 0 0.8rem 0;
    text-align: center;
}

footer .full {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
}

.footer-mobile {
    display: block;
}

.footer-desktop {
    display: none;
}

.footer-mobile p {
    margin: 0;
    padding: 0;
}

.credits {
    padding-bottom: 1rem;
    width: 100%;
}

footer ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: $background-color;
    padding-bottom: 6px;
    transition: color 0.3s ease, transform 0.3s ease;;
}

footer ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: $background-color;
    transition: width 0.2s ease; 
}

// footer ul li a:hover {
//     transform: scale(1.05);
// }

footer ul li a:hover::after {
    width: 100%;
}



// Tablet Styling - Media Query

@media screen and (min-width: 48em) {
    
    footer {
        border-top: 15px solid $secondary-color;
        padding-top: 2rem;
    }

    footer nav {
        display: flex;
        transform: translateX(-3rem);
    }

    footer nav a {
        font-size: 18px;
    }

    #footer_logo {
        width: 13rem;
    }

    .social-media-icons img {
        width: 2.5rem;
    }

    .item-one {
        order: 2;
    }

    .item-two {
        order: 1;
        margin-top: 1.5rem;
    }

    .footer-mobile {
        display: none;
    }

    .footer-desktop {
        display: block;
    }

    .credits {
        padding-bottom: 0;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    footer {
        border-top: 18px solid $secondary-color;
        padding-top: 2rem;
    }

    footer nav ul:first-of-type {
        padding-right: 2rem;
    }

    footer nav a {
        font-size: 23px;
    }

    .credits p {
        font-size: 1.25rem;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120rem) {

    footer {
        border-top: 18px solid $secondary-color;
        padding-top: 2rem;
    }

    footer nav {
        display: flex;
        padding: 2.25rem 0 2rem 0.8rem;
    }

    footer nav a {
        font-size: 27px;
    }

    footer p {
        font-size: 1.8rem;
    }
    
    .item-two {
        margin-left: 10rem;
    }

    .credits p {
        font-size: 1.5rem;
    }
}