@use '../abstracts/index' as *;

// Footer Section - Home

// Mobile Styling - Media Query

footer {
    background-color: $primary-color;
    border-top: 10px solid $secondary-color;
}

footer nav {
    padding: 2.25em 0 2em 0.5em;
}

footer nav li {
    padding-bottom: .5em;
}

footer li {
    margin-bottom: 1em;
}

footer nav a {
    color: white;
    font-size: 20px;
}

#footer_logo {
    width: 8em;
    margin-bottom: 1em;
    justify-self: center;
    transition: transform 0.1s ease-out;
}

#footer_logo:hover {
    transform:scale(0.95);
}

.social-media-icons {
    justify-self: center;
    display: flex;
    gap: .7em;
    margin-bottom: 3em;
    transition: transform 0.2s ease-out;
}

.social-media-icons img:hover {
    transform:scale(0.95);
}

.social-media-icons img {
    width: 1.8em;
}

footer p, .credits a {
    font-family: $heading-font-family;
    color: #8194B9;
    margin: 0;
    margin-bottom: 0.8em;
    justify-self: center;
    text-align: center;
}

footer .full {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer a {
    text-decoration: none;
}

.footer-mobile {
    display: block;
}

.footer-desktop {
    display: none;
}

.footer-mobile p {
    margin: 0;
    padding: 0;
}

.credits {
    padding-bottom: 1rem;
    max-width: 100%;
    width: 100%;
}



// Tablet Styling - Media Query

@media screen and (min-width: 48em) {
    
    footer {
        border-top: 15px solid $secondary-color;
        padding-top: 2em;
    }

    footer nav {
        display: flex;
        padding: 2.25em 0 2em 0.5em;
        transform: translateX(-3rem);
    }

    footer nav a {
        font-size: 18px;
    }

    #footer_logo {
        width: 13em;
    }

    .social-media-icons img {
        width: 2.5em;
    }

    .item-one {
        order: 2;
    }

    .item-two {
        order: 1;
        margin-top: 1.5em;
    }

    .footer-mobile {
        display: none;
    }

    .footer-desktop {
        display: block;
    }

    .credits {
        padding-bottom: 0;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    footer {
        border-top: 18px solid $secondary-color;
        padding-top: 2em;
    }

    footer nav a {
        font-size: 23px;
    }

    .credits p {
        font-size: 1.25rem;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    footer {
        border-top: 18px solid $secondary-color;
        padding-top: 2em;
    }

    footer nav {
        display: flex;
        padding: 2.25em 0 2em 0.8em;
    }

    footer nav a {
        font-size: 27px;
    }

    footer p {
        font-size: 1.8em;
    }
    
    .item-two {
        margin-left: 10em;
    }

    .credits p {
        font-size: 1.5rem;
    }
}