@use '../abstracts/index' as *;

// Header Section - Home

// Mobile Styling - Media Query

header {
    background-color: $primary-color;
    border-bottom: 10px solid $secondary-color;
    position: sticky;
    top: 0;
    z-index: 1000;
    will-change: transform;
}

#main_logo {
    width: 10em;
    margin: 20px;
    transition: transform 0.1s ease-out;
}

#main_logo:hover {
    transform:scale(0.95);
}

#hamburger {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

#burger {
    width: 3em;
    margin: 0 20px 0 auto;
}

.nav-menu {
    display: none;
}

.nav-menu.active {
    display: block;
}

.nav-menu a {
    font-size: 21px;
    color: white;
}

.nav-menu li {
    padding-bottom: 1em;
    margin-left: -1.1em;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) {

    header {
        border-bottom: 15px solid $secondary-color;
    }

    #main_logo {
        width: 10em;
        margin: 20px;
        margin-left: 35px;
    }

    #hamburger {
        display: none; 
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
        margin-right: 2.25em;
    }

    .nav-menu li {
        margin-left: -1.1em;
        padding-bottom: 0;
    }

    .nav-menu ul {
        display: flex;
        gap: 3.5em;
    }

    .sm-two-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
    .sm-two-items > div:first-child {
        grid-column: 1;
    }
    
    .sm-two-items > nav {
        grid-column: 2;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    header {
        border-bottom: 18px solid $secondary-color;
    }

    #main_logo {
        width: 14em;
        margin: 28px;
        margin-left: 65px;
    }

    .nav-menu ul {
        gap: 4em;
        margin: 0 2.25em 0 -1em;
        display: flex;
        justify-content: flex-end;
    }

    .nav-menu a {
        font-size: 30px;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    header {
        height: 13em;
    }

    #main_logo {
        width: 17em;
        margin: 28px;
        margin-left: 25em;
    }

    .nav-menu ul {
        margin: 0 23em 0 -1em;
    }

    .nav-menu a {
        font-size: 34px;
    }
}    