@use '../abstracts/index' as *;

// Header Section - Home

// Mobile Styling - Media Query

header {
    background-color: $primary-color;
    border-bottom: 10px solid $secondary-color;
    position: sticky;
    top: 0;
    z-index: 1000;
    will-change: transform;
}

#main_logo {
    width: clamp(10rem, 5rem + 12vw, 16rem);
    margin: 20px;
    transition: transform 0.1s ease-out;
}

#main_logo:hover {
    transform:scale(0.95);
}

#hamburger {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

#burger {
    width: 3rem;
    margin: 0 20px 0 auto;
}

.nav-menu {
    display: none;
}

.nav-menu.active {
    display: block;
}

.nav-menu a {
    font-size: clamp(1rem, 2.08vw, 1.5625rem);
}

.nav-menu ul {
    padding-left: 1.5rem;
}

.nav-menu li {
    padding-bottom: 1rem;

}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) {

    header {
        border-bottom: 15px solid $secondary-color;
        padding: 0 3rem 0 3rem;
        height: clamp(8.5rem, 6.5rem + 6vw, 13rem);
    }

    #hamburger {
        display: none; 
    }

    #main_logo, .nav-menu {
        padding: 0;
        margin: 0;
    }

    .nav-menu {
        display: flex;
        justify-content: flex-end;
    }

    .nav-menu li {
        padding-bottom: 0;
    }

    .nav-menu ul {
        display: flex;
        gap: clamp(2.5rem, 4.5vw, 3.5rem);
    }

    .sm-two-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
    .sm-two-items > div:first-child {
        grid-column: 1;
    }
    
    .sm-two-items > nav {
        grid-column: 2;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    header {
        border-bottom: 18px solid $secondary-color;
        padding: 0 3.75rem 0 3.75rem;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    header {
        padding: 0 20rem 0 20rem;
    }
}   