@use '../abstracts/index' as *;

// Header Section - Home

// Mobile Styling - Media Query

header {
    background-color: $primary-color;
    border-bottom: 10px solid $secondary-color;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 25px 13px 25px;
}

#main_logo {
    width: 10rem;
    transition: transform 0.1s ease-out;
}

#main_logo:hover {
    transform:scale(0.95);
}

#burger {
    width: 3rem;
    transition: transform 0.2s ease-out;
}

#burger.rotate {
    transform: rotate(-90deg);
}

.nav-menu {
    display: none;
    padding: 10px 0 8px 25px;
}

.nav-menu.active {
    display: block;
}

.nav-menu a {
    font-size: 1rem;
}

.nav-menu ul {
    padding: 0;
    margin: 0;
}

.nav-menu li {
    padding-bottom: 1rem;
}

// Tablet Styling - Media Query

@media screen and (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px 0 25px;
        height: 6.5rem;
    }

    .header-side {
        padding: 0;
    }

    #hamburger {
        display: none; 
    }

    #main_logo {
        width: 8.5rem;
    }

    .nav-menu {
        display: flex;
    }

    .nav-menu li {
        padding: 0;
    }

    .nav-menu ul {
        display: flex;
        gap: clamp(2.5rem, 4.5vw, 3rem);
    }
}

// Small Desktop Styling - Media Query

@media screen and (min-width: 992px) {

    header {
        padding: 0 50px 0 50px;
        height: 5.75rem;
    }

    #main_logo {
        width: 7.5rem;
    }

    .nav-menu ul li a {
        position: relative;
        text-decoration: none;
        color: $background-color;
        padding-bottom: 6px;
        transition: transform 0.3s ease;;
    }

    .nav-menu ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 0%;
        background-color: $background-color;
        transition: width 0.2s ease; 
    }

    .nav-menu ul li a:hover::after {
        width: 100%;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 1200px) {

    header {
        padding: 0 60px 0 60px;
        height: 7.35rem;
    }

    #main_logo {
        width: 10rem;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 1920px) {

    header {
        padding: 0 70px 0 70px;
        height: 8rem;
    }

    #main_logo {
        width: 10.5rem;
    }
}   