@use '../abstracts/index' as *;

// Introduction Section - Home

// Mobile Styling - Media Query

.hero {
    height: 29rem;
    display: flex;
    align-items: center;

    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: inherit;
        background-size: cover;
        background-position: left bottom;
        background-repeat: no-repeat;
        transition: transform 0.5s ease;
        z-index: 0;
        transform-origin: center;
        will-change: transform;
        pointer-events: none;
    }

    &.zoomed::before {
        transform: scale(1.05);
    }

    .hero-content {
        position: relative;
        z-index: 1;
    }
}

.hero-index {
    background-image: url('../images/baa_new_header_1920.png');
}

.hero-contact {
    background-image: url('../images/baa_member_header_1920.png');
}

.hero-members {
    background-image: url('../images/baa_home_header_1920.png');
}

.hero-content p, .hero-content h2 {
    text-transform: uppercase;
    color: $text-color;
}

.hero-content {
    z-index: 1;
    left: 8vw;
    position: relative;
}

.hero-content p {
    font-family: $heading-font-family;
    font-weight: 450;
    font-size: 1.5rem;
    margin: 0;
}

.hero-content h2 {
    font-size: 44px;
    line-height: 60px;
    margin: 1.5rem 0 2rem 0;
}

.hero-mobile {
    display: block;
}

.hero-desktop {
    display: none;
}


// Tablet Styling - Media Query

@media screen and (min-width: 768px) {

    .hero {
        height: 29rem;
    }

    .hero-content p {
        font-size: 30px;
    }

    .hero-content h2 {
        font-size: 60px;
        line-height: 70px;
        margin: 2rem 0 2.5rem 0;
    }

    .hero-content button {
        font-size: 24px;
        padding: 6px 20px 6px 20px;
    }

    .hero-mobile {
        display: none;
    }

    .hero-desktop {
        display: block;
    }
}



// Small Desktop Styling - Media Query

@media screen and (min-width: 992px) {

    .hero {
        background-position: left bottom;
    }

    .hero-content p {
        font-size: 30px;
    }

    .hero-content h2 {
        font-size: 60px;
        line-height: 70px;
        margin: 2rem 0 2rem 0;
    }

    .hero-content button {
        font-size: 22px;
    }
}



// Desktop Styling - Media Query

@media screen and (min-width: 1200px) {

    .hero-content p {
        font-size: 38px;
    }

    .hero-content h2 {
        font-size: 80px;
        line-height: 100px;
        margin: 4rem 0 4.5rem 0;
    }

    .hero-content button {
        font-size: 30px;
    }
}



// Monitor Styling - Media Query

@media screen and (min-width: 1920px) {

    .hero-content {
        left: 10vw;
    }

    .hero-content p {
        font-size: 35px;
    }

    .hero-content h2 {
        font-size: 85px;
        line-height: 100px;
        margin: 2.5rem 0 3.5rem 0;
    }

    .hero-content button {
        font-size: 30px;
    }
}