/* Hero Section - Home */

.hero {
    margin: 0 0;
}

.hero-img img {
    width: 100%;
}

.hero-img {
    display: grid;
    grid-column: span 4;
    margin-bottom: 1rem;
}

.hero-img > * {
    grid-column: 1;
    grid-row: 1;
}

.hero-img p {
    font-family: "Oswald", sans-serif;
    font-weight: 450;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #202020;

    padding-top: 1em;
    margin-left: 1.05em;
}

.hero-img h2 {
    text-transform: uppercase;
    font-size: 3em;
    line-height: 60px;
    color: #202020;

    padding-top: 1.50em;
    margin-left: 0.5em;
    max-width: 85%;
}

.hero-img button {
    width: 6.5em;
    height: 2em;
    padding: 0em;
    margin: 17em 0 0 1.30em;
}



@media screen and (min-width: 48em) {

    /* Tablet Hero Section - Home */
    
        .hero-img p {
            font-size: 33px;
            margin: 1.5em 0 0 2.1em;
        }
    
        .hero-img h2 {
            font-size: 76px;
            line-height: 90px;
    
            margin: .8em 0 0 .9em;
        }
    
        .hero-img button {
            font-size: 28px;
            width: 6.5em;
            margin: 18em 0 0 2.5em;
        }
    }