@use '../abstracts/index' as *;

// Introduction Section - Home

// Mobile Styling - Media Query

.hero {
    margin: 0 0;
}

.hero-img img {
    width: 100%;
}

.hero-img {
    display: grid;
    grid-column: span 4;
    margin-bottom: 1rem;
}

.hero-img > * {
    grid-column: 1;
    grid-row: 1;
}

.hero-img p {
    font-family: $heading-font-family;
    font-weight: 450;
    font-size: 1.5em;
    text-transform: uppercase;
    color: $text-color;

    padding-top: 1em;
    margin-left: 1.05em;
}

.hero-img h2 {
    text-transform: uppercase;
    font-size: clamp(2.75em, 2vw, 3em);
    line-height: 60px;
    color: $text-color;

    padding-top: 1.50em;
    margin-left: 0.5em;
    max-width: 85%;
}

.hero-img button {
    width: 6.5em;
    height: 2em;
    padding: 0em;
    margin: 17em 0 0 1.30em;
}

.hero-mobile {
    display: block;
}

.hero-desktop {
    display: none;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) {

    .hero-img p {
        font-size: 33px;
        margin: 1.5em 0 0 2.1em;
    }

    .hero-img h2 {
        font-size: 76px;
        line-height: 90px;
        margin: .8em 0 0 .9em;
    }

    .hero-img button {
        font-size: 28px;
        width: 6.5em;
        margin: 18em 0 0 2.5em;
    }

    .hero-mobile {
        display: none;
    }

    .hero-desktop {
        display: block;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .hero-img p {
        font-size: 41px;
        margin: 2em 0 0 1.9em;
    }

    .hero-img h2 {
        font-size: 80px;
        line-height: 100px;
        margin: 1.25em 0 0 .95em;
    }

    .hero-img button {
        font-size: 40px;
        width: 6.25em;
        height: 1.8em;
        margin: 12em 0 0 2em;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .hero-img img {
        height: 875px;
    }

    .hero-img p {
        font-size: 41px;
        margin: 3em 0 0 4.75em;
    }

    .hero-img h2 {
        font-size: 97px;
        line-height: 125px;
        margin: 1.3em 0 0 2em;
        max-width: 70%;
    }

    .hero-img button {
        font-size: 40px;
        width: 7em;
        height: 1.8em;
        margin: 14.5em 0 0 5em;
    }
}