// Introduction Section - Home

// Mobile Styling - Media Query

.intro p {
    font-size: clamp(1rem, 0.9rem + 0.6vw, 1.5625rem);
    line-height: clamp(1.875rem, 1.36rem + 1.5vw, 2.8125rem);
    margin: 0 0 1.5rem 0;
    max-width: 100%;
}

.intro img:nth-of-type(2), .intro img:last-of-type {
    display: none;
}

.intro img {
    margin: 0.75rem 0 2.15rem 0;
    max-width: 100%;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) {

    .intro {
        padding-bottom: 1rem;
    }

    .intro p {
        margin: 0 0 1.75rem 0;
    }

    .intro img:nth-of-type(2), .intro img:last-of-type {
        display: block;
    }

    .intro-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        flex-wrap: nowrap;
        max-width: 100%;
        box-sizing: border-box;
    }

    .intro-img {
        width: calc((100% - 4vw) / 3);
        height: auto;
        object-fit: cover;
    }
}

// Desktop Styling - Media Query
    
@media screen and (min-width: 64em) {

    .intro {
        padding-bottom: 1.5rem;
    }

    .intro p {
        margin: 0 0 2rem 0;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .intro {
        padding-bottom: 2rem;
    }

    .intro p {
        margin: 0 0 2rem 0;
    }
}