// Introduction Section - Home

// Mobile Styling - Media Query

.intro {
    padding: 0.5em 0 2em 0;
}

.intro h2 {
    margin: 0;
    padding-bottom: 0.35em;
    line-height: 2.75rem;
}

.intro p {
    max-width: 100%;
    line-height: 28px;
    margin-bottom: 8px;
}

.intro img:nth-of-type(2), .intro img:last-of-type {
    display: none;
}

.intro img {
    margin: 2em 0 0.5em 0;
    max-width: 100%;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) {

    .intro {
        padding: 1.5em 0 2.5em 0;
    }

    .intro p {
        font-size: 20px;
        line-height: 38px;
    }

    .intro img:nth-of-type(2), .intro img:last-of-type {
        display: block;
    }

    .intro .sm-three-items {
        max-width: 90%;
    }

    .intro img {
        width: 13.8em;
    }
}

// Desktop Styling - Media Query
    
@media screen and (min-width: 64em) {

    .intro {
        padding: 2em 0 3em 0;
    }

    .intro p {
        font-size: 22px;
    }

    .intro img {
        width: 22rem;
    }

    .intro .md-three-items {
        max-width: 85%;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .intro {
        padding: 3em 0 3.5em 0;
    }

    .intro p {
        font-size: 25px;
        line-height: 46px;
    }

    .intro img {
        width: 21em;
        margin-top: 3em;
    }

    .intro .lg-three-items {
        max-width: 95%;
    }
}