// Register Section - Members

// Mobile Styling - Media Query

.register {
    padding: 1em 0 1.75em 1em;
}

.register h2 {
    margin-bottom: 0.5em;
}

.register .main-description {
    line-height: 30px;
    max-width: 90%;
    padding-bottom: 1em;
}

.register-form textarea {
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.register-form input, .register-form textarea {
    font-family: "Oswald", sans-serif;
    font-size: 1em;

    width: 22.5em;
    margin-bottom: 1em;
    padding: .5em;

    border-width: 2px;
    border-style: solid;
    border-color: #202020;
    border-radius: 5px;
}

.register-form input[type="submit"] {
    border: none;
    padding: 5px 0px 5px 0px;
    width: 18em;
    border-radius: 8px;

    font-size: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 450;

    background-color: #BF0B1A;
    color: white;

    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.register-form input[type="submit"]:hover {
    background-color: #ab0917;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) { 

    .register {
        padding: 1em 0 1.75em 2em;
    }

    .register .main-description {
        max-width: 95%;
        padding-bottom: 1.25em;
    }

    .register-form input {
        width: 21em;
        margin-bottom: 1em;
    }

    .register-form textarea {
        width: 43em;
        height: 10em;

        margin-bottom: 1em;
        padding: .5em;
    }

    .register-form input[type="submit"] {
        padding: 5px 0px 5px 0px;
        margin-top: 1em;
        width: 34.5em;
    }

    .register-form input:nth-of-type(2), .register-form input:nth-of-type(4) {
        margin-left: -1em;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .register {
        padding: 1.5em 0 2em 3em;
    }

    .register .main-description {
        font-size: 21.5px;
        line-height: 45px;
    }

    .register-form input, .register-form textarea {
        font-size: 24px;
    }

    .register-form input {
        width: 18.5em;
    }

    .register-form textarea {
        width: 38em;
    }

    .register-form input[type="submit"] {
        font-size: 35px;
        width: 26em;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .register {
        padding: 1.5em 0 2em 3em;
    }

    .register .main-description {
        font-size: 25px;
        line-height: 45px;
        max-width: 91%;
    }

    .register-form input, .register-form  textarea {
        font-size: 25px;
    }

    .register-form input {
        width: 21em;
    }

    .register-form textarea {
        width: 94%;
    }

    .register-form input[type="submit"] {
        font-size: 35px;
        width: 31em;
    }
}