@use '../abstracts/index' as *;

// Register Section - Members

// Mobile Styling - Media Query

.register {
    padding: 1em 0 1em 0;
}

.register h2 {
    margin-bottom: 0.5em;
}

.register .main-description {
    max-width: 100%;
    padding-bottom: 1em;
}

.register-form textarea {
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.register-form input, .register-form textarea {
    font-family: $heading-font-family;
    font-size: 1em;

    width: 100%;
    max-width: none;
    margin-bottom: 1em;
    padding: .5em;

    border: 2px solid $text-color;
    border-radius: 5px;
    background-color: $background-color;
    box-sizing: border-box;
}

.register-form input[type="submit"] {
    border: none;
    border-radius: 8px;

    width: 100%;
    max-width: none;
    padding: 5px 0;
    margin-bottom: 1rem;

    font-size: 20px;
    font-family: $heading-font-family;
    text-transform: uppercase;
    font-weight: 450;

    background-color: $secondary-color;
    color: white;

    outline: none;
    box-shadow: none;
    cursor: pointer;
    box-sizing: border-box;
}

.register-form input[type="submit"]:hover {
    background-color: $button-hover;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) { 

    .register {
        padding: 1em 0 1em 0;
    }

    .register .main-description {
        padding-bottom: 1.25em;
    }

    .register-form textarea {
        padding-bottom: 1em;
        margin-bottom: 1em;
        width: 100%;
    }

    .register-form input, .register-form textarea {
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 0.5em;
    }

    .register-form input[type="submit"] {
        padding: 5px 0px 5px 0px;
        width: 100%;
    }

    .form-group {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"] {
        flex: 1 1 calc(50% - 1rem);
    }

    .form-group textarea,
    .form-group input[type="submit"] {
        flex: 1 1 100%;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .register {
        padding: 1.5em 0 1.5em 0;
    }

    .register .main-description {
        font-size: 21.5px;
    }

    .register-form input, .register-form textarea {
        font-size: 24px;
    }

    .register-form input {
        width: 18.5em;
    }

    .register-form textarea {
        width: 38em;
    }

    .register-form input[type="submit"] {
        font-size: 35px;
        width: 26em;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .register {
        padding: 1.5em 0 1.5em 0;
    }

    .register .main-description {
        font-size: 25px;
    }

    .register-form input, .register-form  textarea {
        font-size: 25px;
    }

    .register-form input {
        width: 21em;
    }

    .register-form textarea {
        width: 94%;
    }

    .register-form input[type="submit"] {
        font-size: 35px;
        width: 31em;
    }
}