// Team Section - Members

// Mobile Styling - Media Query

.team {
    padding: 1em 0 2.5em 1em;
}

.team .main-description {
    line-height: 30px;
    max-width: 95%;
    padding-bottom: 2.25em;
}

.team img {
    width: 10em;
}

.team p, h3 {
    padding: 0;
    margin: 0;
}

.team-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-container h3 {
    font-size: 22px;
    font-weight: 400;
    padding: .35em 0 .25em 0;
}

.team-container div:nth-child(-n+2) {
    padding-bottom: 2em;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) { 
    
    .team {
        padding: 1em 0 1em 2em;
    }

    .team .main-description {
        font-size: 20px;
        line-height: 35px;
        padding: 0.25em 0 2em 0;
    }

    .team-container h3 {
        font-size: 22px;
    }

    .team-container div:nth-of-type(2) {
        margin-left: -2em;
    }

    .team-container div:nth-of-type(3) {
        margin-left: -2.5em;
    }

    .team-container div:nth-of-type(4) {
        margin-left: -3em;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .team {
        padding: 1.5em 0 1.5em 3em;
    }

    .team .main-description {
        font-size: 24px;
        line-height: 45px;
        padding: 0.25em 0 2em 0;
    }

    .team-container img {
        width: 12.5em;
    }

    .team-container h3 {
        font-size: 30px;
    }

    .team-container p {
        font-size: 20px;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .team {
        padding: 2em 0 2em 3em;
    }

    .team .main-description {
        font-size: 26px;
        line-height: 45px;
    }

    .team-container img {
        width: 16em;
    }

    .team-container h3 {
        font-size: 35px;
    }

    .team-container p {
        font-size: 25px;
    }
}