/* Volunteer Section - Members */

.volunteer {
    padding: 1em 0 2.65em 1em;
}

.volunteer h2 {
    margin-bottom: 0.5em;
}

.volunteer .main-description {
    line-height: 30px;
    max-width: 90%;
    padding-bottom: 1.35em;
}

.volunteer img {
    width: 14em;
}