// Volunteer Section - Members

// Mobile Styling - Media Query

.volunteer {
    padding: 1em 0 2.65em 0;
}

.volunteer h2 {
    margin-bottom: 0.5em;
}

.volunteer .main-description {
    line-height: 30px;
    max-width: 100%;
    padding-bottom: 1.35em;
}

.volunteer img {
    width: 100%;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) { 
    
    .volunteer {
        padding: 2em 0 2em 0;
    }

    .volunteer h2 {
        margin-bottom: 1em;
    }

    .volunteer .main-description {
        padding: 0;
    }

    .volunteer img {
        width: 100%;
    }

    .volunteer-sides {
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 64em) {

    .volunteer {
        padding: 2em 0 2.5em 0;
    }

    .volunteer .main-description {
        font-size: 23px;
        line-height: 45px;
    }

    .volunteer img {
        width: 100%;
    }

    .volunteer-sides {
        gap: 3rem;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .volunteer {
        padding: 3.5em 0 3em 0;
    }

    .volunteer h2 {
        padding-top: 0;
    }

    .volunteer .main-description {
        font-size: 25px;
        line-height: 45px;
    }

    .volunteer img {
        width: 20rem;
    }

    .volunteer-sides {
        gap: 3rem;
    }
}