// Volunteer Section - Members

// Mobile Styling - Media Query

.volunteer {
    padding-top: 0;
}

.volunteer-img {
    width: 100%;
}

.volunteer-sides {
    padding: 0 0 2.25rem 0;
}

.volunteer .main-description {
    width: 95%;
}

// Tablet Styling - Media Query

@media screen and (min-width: 768px) {

    .volunteer-img {
        width: 100%;
    }

    .volunteer .main-description {
        padding-bottom: 0.35rem;
        width: 100%;
    }

    .volunteer-sides {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        padding: 0;
    }
}

// Small Desktop Styling - Media Query

@media screen and (min-width: 992px) {

    .volunteer .main-description {
        padding-bottom: 0.5rem;
    }

    .volunteer-sides {
        gap: 3rem;
    }
}

// Desktop Styling - Media Query

@media screen and (min-width: 1200px) {

    .volunteer-sides {
        gap: 3rem;
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 1920px) {

    .volunteer .main-description {
        padding-bottom: 1rem;
    }
}