@use '../abstracts/index' as *;

/* Basic Reset */

.hidden {
    display: none;
}

body {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    color: #202020;

//     min-height: 100vh;
//     box-sizing: border-box; 
//     background-color: $light-bg-color;
}

html, body {
    scroll-behavior: smooth;
}

/* Font Import */

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
}

p {
    font-family: "Merriweather", serif;
    font-size: 1em;
}

h2 {
    color: #022873;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 33px;
    width: 90%;
}

.main-description {
    font-size: 1em;
    line-height: 25px;
    max-width: 95%
}

a {
    font-family: "Merriweather", serif;
}

nav a:hover {
    opacity: 50%;
}

.social-media-icons img:hover {
    opacity: 50%;
}

button { 
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;

    font-size: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 450;

    background-color: #BF0B1A;
    color: white;

    outline: none;
    box-shadow: none;
    cursor: pointer;

//     all: unset;
//     box-sizing: border-box;
//     display: inline-block;
}

button:hover { 
    background-color: #ab0917;
}

.bold {
    font-weight: 800;
}

.wrapper {
    background-color: #F3F3F3;
}

/* Bullet Reset */

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}




@media screen and (min-width: 48em) {

    /* Tablet Basic Reset - Home */
    
        .main-padding {
            padding-left: 2.5em;
        }
    
    /* Tablet Font Import - Home */
    
        h2 {
            font-size: 30px;
            width: 90%;
        }
    
        .main-description {
            font-size: 1em;
            line-height: 29px;
            max-width: 95%
        }
    }