@use '../abstracts/index' as *;

// Global Styling - BAA

// Mobile Styling - Media Query

.hidden {
    display: none;
}

body {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    color: $text-color;
//     min-height: 100vh;
}

html, body {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
}

p {
    font-family: $body-font-family;
    font-size: 1em;
}

h2 {
    color: $primary-color;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 33px;
    width: 90%;
}

.main-description {
    font-size: 1em;
    line-height: 25px;
    max-width: 95%
}

a {
    font-family: $body-font-family;
}

nav a:hover {
    opacity: 50%;
}

.social-media-icons img:hover {
    opacity: 50%;
}

button { 
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;

    font-size: 20px;
    font-family: $heading-font-family;
    text-transform: uppercase;
    font-weight: 450;

    background-color: $secondary-color;
    color: white;

    outline: none;
    box-shadow: none;
    cursor: pointer;

//     all: unset;
//     box-sizing: border-box;
//     display: inline-block;
}

button:hover { 
    background-color: $button-hover;
}

.bold {
    font-weight: 800;
}

.wrapper {
    background-color: $background-color;
    background-size: cover; 
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

// Tablet Styling - Media Query

@media screen and (min-width: 48em) {

    .main-padding {
        padding-left: 2.5em;
    }

    h2 {
        font-size: 30px;
        width: 90%;
    }

    .main-description {
        font-size: 1em;
        line-height: 29px;
        max-width: 95%
    }
}

// Desktop Styling - Media Query
    
@media screen and (min-width: 64em) {
    
    .main-padding {
        padding-left: 3.25em;
    }

    h2 {
        font-size: 35px;
        width: 90%;
    }

    .main-description {
        font-size: 21px;
        line-height: 41px;
        max-width: 90%
    }
}

// Monitor Styling - Media Query

@media screen and (min-width: 120em) {

    .main-padding {
        padding-left: 25em;
    }

    h2 {
        font-size: 41px;
        width: 90%;
    }

    .main-description {
        font-size: 25px;
        line-height: 41px;
        max-width: 90%
    }
}